[mysqld]
default_authentication_plugin=mysql_native_password
sql_mode="ERROR_FOR_DIVISION_BY_ZERO,NO_ZERO_DATE,NO_ZERO_IN_DATE,NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES"

# Logs
#general_log = 1
#general_log_file = /var/lib/mysql/query.log

#slow_query_log = 1
#long_query_time = 2
#slow_query_log_file = /var/lib/mysql/slow.log
#log_queries_not_using_indexes = 0
